{% extends "base.njk" %}

{% block header %}
  <title>App</title>
  <link rel="stylesheet" href="/app.bundle.css" />
{% endblock %}

{% block content %}
  <div id="app"></div>
  <script src="/app.bundle.js"></script>
{% endblock %}
